.Container {
    display: inline-block;
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}

.NiceText {
	color: lightslategray;
    background-color: darkorange;
    font-weight: bold;
}

.CoolText {
    color: white;
    background-color: green;
    display: inline-block;
}