.ContactUs {
	width: 450px;
    border: 1px solid;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}

.ContactUs .TextBox {
    width: 100%;
    margin: 5px 0;
}

.ContactUs .Flex {
    display: flex;
}