.Register {
	width: 250px;
    border: 1px solid;
    text-align: left;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}

.Register input, .Register button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: larger;
}

.Register h2{
    text-align: center;
}

.Register .err{
    color: red;
    position: absolute;
    margin-left: 30px;
}